#container
link(rel='stylesheet', href='https://imsun.github.io/gitment/style/default.css')
script(src='https://imsun.github.io/gitment/dist/gitment.browser.js')
script.
  var PAGE_SOURCE = '#{page.path}' || '';
script.
  function pagePathMap(id) {
    var map = {
      'posts/100-lines-of-code-web-module-resolver-1/': '100 行代码实现一个前端 JS 模块打包工具 - 1 - 模块化概览',
      'posts/how-commonjs-load-url-module/': '使 node 也支持从 url 加载一个 module',
      'posts/immer-immutable/': '下一代状态管理工具 immer 简介及源码解析',
      'posts/make-a-1-a-2-a-3-evaluate-true/': '如何让 (a == 1 && a == 2 && a == 3) 返回 true'
    };
    if (map[id]) {
      return map[id];
    }
    return id;
  }
  var gitment = new Gitment({
    id: pagePathMap(PAGE_SOURCE),
    owner: 'loatheb',
    repo: 'loatheb.github.io',
    oauth: {
        client_id: 'a991a0c92a23969e5050',
        client_secret: '74bc5b7e13c0e3e83cceb75403eefdc4de29a0a8',
    }
  })
  gitment.render('container')
