#container
link(rel='stylesheet', href='https://imsun.github.io/gitment/style/default.css')
script(src='https://imsun.github.io/gitment/dist/gitment.browser.js')
script.
  var gitment = new Gitment({
    id: '{{ page.title }}',
    owner: 'loatheb',
    repo: 'loatheb.github.io',
    oauth: {
        client_id: 'a991a0c92a23969e5050',
        client_secret: '74bc5b7e13c0e3e83cceb75403eefdc4de29a0a8',
    }
  })
  gitment.render('container')
